APP_NAME=小凯哥电商进销存
APP_SUBTITLE=成品货 / 半成品 / 物料 / 包材 / 账目
SECRET_KEY=change-me
HOST=0.0.0.0
PORT=5100
AUTH_USERNAME=admin
AUTH_PASSWORD=admin123
RETURN_API_TOKEN=change-me
RETURN_SYSTEM_DATABASE_PATH=/home/hyk/warehouse-management/data/app.db
